<br>
<br>
<style>
    .btn{
        border: none;
        background-color: gray;
        color: white;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        height: 40px;
        width: 100px;
    }
</style>
<div class="container">
    <button class="btn btn-primary" ng-click="startTimer()" ngModel="myVar">START</button>
    <button class="btn btn-primary" ng-click="pause()" ngModel="myVar">PAUSE</button>
    <button class="btn btn-primary" ng-click="resume()" ngModel="myVar">RESUME</button>
    <button class="btn btn-primary" ng-click="restart()" ngModel="myVar">RESTART</button>
</div>
